.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.loader > div > div {
	background-color: #3992ff;
}

.main-container {
	display: flex;
	width: 100%;
	min-height: 100vh;
}

.error-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	height: 100vh;
}

.error-header {
	font-size: 90px;
}

.exclamation-mark {
	color: var(--theme);
}

.error-message {
	font-size: 28px;
}

#outlet-container {
	width: 70vw;
}

.outlet-loading {
	opacity: 0.25;
}

.chats-header,
.users-header,
.no-messages-message,
.chat-recipient,
.error-header {
	font-family: var(--header-font-family);
}

.sidebar {
	width: 30vw;
	position: relative;
	padding-top: 20px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 28px;
	border-right: solid 1px #e3e3e3;
	border-top: 1px solid #e3e3e3;
	background-color: #f7f7f7;
}

.sidebar-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.sidebar-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.sidebar-link {
	display: flex;
	width: 70%;
	padding: 5px;
	padding-left: 10px;
	border-radius: 10px;
	color: dimgray;
}

.sidebar-link:hover {
	background-color: #e3e3e3;
}

.sidebar-link.active,
.sidebar-link.pending {
	background-color: var(--sidebar-link-active);
	color: white;
}

.app-name {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 10vh;
	position: absolute;
	left: 0px;
	bottom: 0px;
	border-top: 2px solid #e3e3e3;
	color: dimgray;
}

.devicon-github-original {
	color: #3992ff;
	transition: color 0.15s linear;
}

.home-container {
	display: flex;
}

.home-login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	height: 100vh;
	padding: 30px;
	color: var(--sidebar-link-active);
}

.home-login-message {
	font-family: var(--header-font-family);
	font-size: 55px;
}

.home-login-buttons {
	display: flex;
	gap: 30px;
}

.welcome-word {
	font-weight: bold;
	color: var(--theme);
}

.chats {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 70%;
	min-height: 100vh;
	padding: 10px 30px;
}

.no-chats-message,
.no-messages-message {
	font-size: 24px;
}

.chats-header {
	font-size: 40px;
}

.chats-user,
.users-list-user {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 20px;
	border: 1px solid #e3e3e3;
	border-radius: 10px;
	background-color: #f7f7f7;
	box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.chats-user:hover {
	box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.chats-avatar {
	width: 50px;
	object-fit: cover;
	object-position: center;
}
