.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.loader > div > div {
	background-color: #3992ff;
}

.main-container {
	display: flex;
	width: 100%;
	min-height: 100vh;
}

.error-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	height: 100vh;
}

.error-header {
	font-size: 90px;
}

.exclamation-mark {
	color: var(--theme);
}

.error-message {
	font-size: 28px;
}

#outlet-container {
	width: 70vw;
}

.outlet-loading {
	opacity: 0.25;
}

.chats-header,
.users-header,
.no-messages-message,
.chat-recipient,
.error-header {
	font-family: var(--header-font-family);
}

.sidebar {
	width: 30vw;
	position: relative;
	padding-top: 20px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 28px;
	border-right: solid 1px #e3e3e3;
	border-top: 1px solid #e3e3e3;
	background-color: #f7f7f7;
}

.sidebar-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.sidebar-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.sidebar-link {
	display: flex;
	width: 70%;
	padding: 5px;
	padding-left: 10px;
	border-radius: 10px;
	color: dimgray;
}

.sidebar-link:hover {
	background-color: #e3e3e3;
}

.sidebar-link.active,
.sidebar-link.pending {
	background-color: var(--sidebar-link-active);
	color: white;
}

.app-name {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 10vh;
	position: absolute;
	left: 0px;
	bottom: 0px;
	border-top: 2px solid #e3e3e3;
	color: dimgray;
}

.devicon-github-original {
	color: #3992ff;
	transition: color 0.15s linear;
}
